 

body

   { 
      margin:0;
    padding:0;
     background: url(Cartelera/cartelera.jpg);  background-repeat: no-repeat;
  width:100%;   background-size:cover;  height:100%;
 
}
 .Cartelera
    { 
      margin:0;
    padding:0;
     background: url(Cartelera/cartelera15.jpg);  background-repeat: no-repeat;
     background-size:cover;  height:75%; width:80%;  min-width:666;  overflow:auto;  
 
}
 
.Cartelera_Cuaderno { 
      padding-top:5px;
    padding-left:10; padding-right:30;
     background: url(Cartelera/Hoja.png);
  width:100%;   background-size:cover;  height:100%;
  position:relative;
 
}

.FotoCartelera{ 
      
  width:70px;   
   height:40;
  margin-left:10px;
 
}
.BotonCartelera{
	   border-style: none;
    border-color: inherit;
    border-width: 0;
    background-color:#750000;
	       color:White;
	       height:25px;
	        width:65px;
	        /*font-family: Tahoma;*/
	        font-family: 'Raleway',sans-serif;
       /*text-transform:uppercase;*/
    text-align: center;
}
.FotoCarteleraAviso{ 
      
  width:70px;   
   height:40;
  margin-left:10px;
  display: block; 
 
}

.TextoFormulario{    
    /*font-family: Tahoma;*/
    font-family: 'Raleway',arial;
      font-size:14px;
    
}

