
.Titulo_Pagina {
	COLOR: #2d2d2d;  font-weight:bold; text-align:center;
}
.clearfix:after {
	LINE-HEIGHT: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FORM {
	padding: 0px;
    MARGIN: 0px;     height: 466px;
}

P {
	padding: 0px;
        font-size: medium;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 40px;
}
SPAN {
	padding: 0px;
    MARGIN: 0px;
    text-align: left;
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
 
A:hover {
	TEXT-DECORATION: none
}


BODY {
      
	 LINE-HEIGHT: 17px; MARGIN: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px;  
}
INPUT {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle;
    text-align: left;
}
SELECT {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
TEXTAREA {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A {
	COLOR: #3a3c42; CURSOR: pointer; TEXT-DECORATION: none;
    font-size: medium;
}
.MasterContainer {

 }
.container { VERTICAL-ALIGN: middle;
	  WIDTH: 839px; 
	   text-align:center; 

}
.header {
	BACKGROUND: #fff; WIDTH: 962px;
	 
	
}
.header DIV.logo {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 21px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.topMenuUB{
	BACKGROUND: url(images/bg01.jpg) no-repeat left top; HEIGHT: 31px; 
}
.topMenuUB UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.topMenuUB UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; TEXT-TRANSFORM: capitalize; PADDING-LEFT: 20px; WIDTH: auto; PADDING-RIGHT: 0px; FONT-FAMILY: 'BrandonGrotesqueBold';  PADDING-TOP: 0px
}
.topMenuUB UL LI A {
	COLOR: #2d2d2d;  font-weight:bold;
}
 
 


.RRHH_VENTANA_CONTENIDO {
	LINE-HEIGHT: 19px;font-weight:bold;
 BACKGROUND: #aec90b; COLOR: #fff;
	PADDING-LEFT: 8px; FONT-SIZE: 19px; PADDING-TOP: 0px
}
 
 .CSS_TBL_LoginUB {  background-color:White;
	  WIDTH: 300px;  border: 1;  
   
}
 
 
 
 .TBL_FORMA { background-color:White; width:500px;
border-collapse: collapse;
border: 4px solid gray;
padding:7;
border: 4;
}

 .FORMA_CAMPO{  font-weight:bold; 
   
}
 .TBL_RESULTADOO{   text-align:center; 
   
}
 
 
 
 